$main-color: #c70102;
$alt-color: #edd04a;

$topHeader-color: #1b1c20;
$bottomHeader-color: #c70102;

$main-text-color:#010B14;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #1b1b1d;
$bg-section-alt: #101010;
$footer-bg: #151517;